bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/workspaces.xml
.idea/.idea.PowershellUtilsSolution/.idea/.name
.idea/.idea.PowershellUtilsSolution/.idea/encodings.xml
.idea/.idea.PowershellUtilsSolution/.idea/indexLayout.xml
.idea/.idea.PowershellUtilsSolution/.idea/vcs.xml
.idea/**
PowershellUtilModule.sln.DotSettings.user
PowershellUtilsSolution.sln.DotSettings.user
